.posts-page-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.posts-page-container .post-item {
	cursor: pointer;
}

.posts-page-container .post-item:hover {
	background-color: #f8f8f8;
}
