.posts-page-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.posts-page-container .post-item:not(.custom) {
	cursor: pointer;
}

.posts-page-container .post-item:not(.custom):hover {
	background-color: #f8f8f8;
}
