.modal-presentation {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	display: flex;
	flex-direction: column;
	/* bg-gray-500 bg-opacity-30 backdrop-blur-[2px] backdrop-filter */
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
}

.modal-up-backdrop {
	flex: 1;
	min-height: 4rem;
}

.modal-content-horizontal-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.modal-content {
	width: 40rem;
	max-width: 80vw;
	position: relative;
}

.modal-down-backdrop {
	flex: 1;
	min-height: 6rem;
}

.modal-side-backdrop {
	min-width: 1rem;
	flex: 1;
}

.close-modal-container {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 0.875rem;
	border-radius: 9999px;
	background-color: red;
	color: white;
}

.close-modal-container:hover {
	opacity: 0.6;
}

@media screen and (max-width: 768px) {
	.modal-side-backdrop {
		min-width: 0.5rem;
	}
}
