* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	height: 5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: rgba(183, 183, 183, 0.8);
	text-align: center;
	font-weight: 700;
	font-size: 1.5rem;
}

.app-content {
	flex: 1;
	padding: 6rem 2rem;
}

footer {
	height: 3rem;
	border-top: 1px solid black;
	background-color: rgba(183, 183, 183, 1);
}

.app-width-container {
	width: 100%;
	margin: auto;
	max-width: 60rem;
}

::-webkit-scrollbar {
	width: 6px;
	height: 22px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #0672b8;
}

@media screen and (max-width: 768px) {
	.app-content {
		padding-top: 3rem;
	}
}
